<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{'/product/save'}">
        <label>
            <input type="number" name="maxGuests">
        </label>
        <label>
            <input type="number" name="price">
        </label>
        <label>
            <input type="radio" name="region">
        </label>
        <label>
            <input type="radio" name="type" th:value="${save.type}">
        </label>
        <label>
            <input type="text" name="description">
        </label>
        <label>
            <input type="text" name="title">
        </label>
        <label>
            <input type="text" name="townProvince">
        </label>
        <!--   === 4 Images ===    -->
<!--        <input type="file" name="images">-->
<!--        <input type="file" name="images">-->
<!--        <input type="file" name="images">-->
<!--        <input type="file" name="images">-->
        <button type="submit"> SAVE</button>
    </form>
</body>
</html>