<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div>
    <ol>
        <li>
            <h2>AirBNB</h2>
        </li>
        <li>
            <input type="search" placeholder="Search">
            <input type="checkbox" placeholder="Искать по близости">
        </li>
        <li>
            <a>
                <button>Leave an ad</button>
            </a>
        </li>
        <li>
            <a th:href="">
                <button>JOIN US</button>
            </a>
        </li>
    </ol>
</div>
</body>
</html>