<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div>
    <ol>
        <li>
            <img src="" alt="AirBNB-icon">
        </li>
        <li>
            <label>
                <input type="search" placeholder="Search">
            </label>
            <label>
                <input type="checkbox" placeholder="Искать по близости">
            </label>
        </li>
        <li>
            <a>
                <button>Leave an ad</button>
            </a>
        </li>
        <li>
            <a th:href="@{/user/login}">
                <button>JOIN US</button>
            </a>
        </li>
    </ol>
</div>

<div>
    <!--Города оно же сортировка по городам -->
    <ol>
        <li><a>CHUI</a></li>
        <li><a>BATKEN</a></li>
        <li><a>JALAL-ABAT</a></li>
        <li><a>NARYN</a></li>
        <li><a>ISSYK-KUL</a></li>
        <li><a></a>TALAS</li>
        <li><a></a>BISHKEK</li>
        <li><a></a>OSH</li>
    </ol>
</div>

<div>

    <h2>POPULAR APARTMENTS</h2>
    <a>View all</a>     <!--Пересылка на shop.html-->
    <!--IMG-->
    <div>
        <h3>Aska Lara Resort & Spa Hotel</h3>
        <p>
            Имеется спорная точка зрения, гласящая примерно следующее:
            стремящиеся вытеснить традиционное производство, нанотехнологии,
            инициированные исключительно синтетически,
            преданы социально-демократической анафеме.
        </p>
        <p>723510 Osh Muzurbek Alimbekov 9/7</p> <!--ADDRESS из указанного местоположения-->
        <a>Read more</a>
        <!--Здесь работает таким обазом, когда человек листает на след стр. ему выходит инфа об этом
        продукте -->
    </div>
</div>
<div>
    <div>
        <h2>POPULAR HOUSE</h2>
        <p>Helping you make the best decisions in buying, setting & renting you last minute locations.</p>
        <a>View all</a> <!--Пересылка на shop.html-->
    </div>
    <div>
        <img src="" alt="Image-Product">
        <h4>Asman guest house</h4>
        <p>723510 Osg Muzurbek Alibekov 9/7</p>
        <p>$26/day</p>
        <!--И так три раза-->
    </div>
</div>
<div>
    <div>
        <h2>THE LASTEST</h2>
        <a>View all</a> <!--Пересылка на shop.html-->
    </div>
    <div>
        <img src="" alt="Product-Image">
        <h3>Aska Lara Resort & Spa Hotel</h3>
        <p>
            Имеется спорная точка зрения, гласящая примерно следующее:
            стремящиеся вытеснить традиционное производство, нанотехнологии,
            инициированные исключительно синтетически,
            преданы социально-демократической анафеме.
        </p>
        <p>723510 Osh Muzurbek Alimbekov 9/7</p> <!--ADDRESS из указанного местоположения-->
        <a>Read more</a>
        <!--Здесь работает таким обазом, когда человек листает на след стр. ему выходит инфа об этом продукте -->
    </div>
</div>
<div>
    <p>Regions</p>
    <a>Leave an ad</a>
    <img src="" alt="Product-Image">
    <ol>
        <li><a>Telegram icon here</a></li>
        <li><a>Instagram icon here</a></li>
        <li><a>Twitter icon here</a></li>
        <li><a>Facebook icon here</a></li>
        <li><a>Mobile phone here</a></li>
        <li><a>Email address here</a></li>
        <!--And other contacts-->
    </ol>
    <p>@ Copyright IT.KG. All Rights Reserved</p><br>
    <p>By 2023</p>
</div>
</body>
</html>