<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <img src="" alt="AirBNB-icon">
        <a>Leave an ad</a>
        <label>
            <input type="checkbox">
        </label>
        <form method="get" action="">
            <label>
                <input type="search">
            </label>
        </form>
        <a>
            <button>JOIN US</button>
        </a>
    </div>
    <div>
        <div>
            <p>Search for: </p>
            <h4>"TOKMOK"</h4>   <!--th:text="ragion.name"-->
            <p>45</p>          <!--Количество найденных-->
        </div>
        <!--СОРТИРОВКА-->
        <div class="region">
            <ol>
                <li><a>CHUI</a></li>
                <li><a>BATKEN</a></li>
                <li><a>JALAL-ABAT</a></li>
                <li><a>NARYN</a></li>
                <li><a>ISSYK-KUL</a></li>
                <li><a></a>TALAS</li>
                <li><a></a>BISHKEK</li>
                <li><a></a>OSH</li>
            </ol>
        </div>
        <div class="attendance">
            <ol>
                <li><a>All</a></li>
                <li><a>Popular</a></li>
                <li><a>The lastest</a></li>
            </ol>
        </div>
        <div class="type">
            <ol>
                <li><a>All</a></li>
                <li><a>Apartment</a></li>
                <li><a>House</a></li>
            </ol>
        </div>
        <div class="sort-by-money">
            <ol>
                <li><a>All</a></li>
                <li><a>Low to high</a></li>
                <li><a>High to low</a></li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>