<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img src="" alt="AirBNB-icon">
    <a>Leave an ad</a>
    <label>
        <input type="checkbox">
    </label>
    <form method="get" action="">
        <label>
            <input type="search">
        </label>
    </form>
    <a><button>JOIN US</button></a>
</div>
<div>
    <p>Search for: </p>
    <h4>"TOKMOK"</h4>   <!--th:text="ragion.name"-->
    <p >45</p>          <!--Количество найденных-->

</div>
</body>
</html>